.principal {
    background: #ffb5da;
    }
    
    h1 {
    text-align: center;
    }
    
    p {
    text-align: center;
    }
    
    #missao {
    color: rgb(255, 16, 116);
    font-size: 18px;
    }

    #banner {
        width: 100%;
    }

    .Benefícios-título {
        text-align: center;
    }

    .itens {
        font-style: italic;
    }

    .Benefícios {
        background-color: #ffb5da;
    }